.comment-card {
  padding: 2vh;
  border-radius: 15px;
  margin: 2vh;
}

.profile-image {
  border-radius: 50%;
  background-color: #205295;
  width: 25px;
  height: 25px;
  margin: 1vh;
  border: none;
}

.post-creator {
  display: flex;
}
.profile-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-name {
  font-size: 24px;
}

.profile-username {
  font-size: 15px;
  color: grey;
}

#comment-input {
  border: 1px solid #eee;
  margin: 2vh;
  padding-left: 2vw;
  border-radius: 5vh;
  height: 7vh;
  width: 80%;
  font-size: 1.5em;
  box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px !important;
  transition: box-shadow 1s ease;
}

#comment-input:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

#comment-input:focus {
  background-color: #eee;
}

#post-btn {
  padding-left: 2vw;
  border-radius: 5vh;
  height: 7vh;
  background-color: #205295;
  color: white;
  font-size: 1.5em;
  text-align: center;
}
