
<mat-card class="profile-info-div">


    <div class="user-profile-desc">
        <img class="profile-img" src="assets\Profile_placeholder.png" alt="">
        <div class="profile-personal-info">
            <h1>Name Lastname</h1>
            <span>@Username</span>
        </div>
    </div>

    <div class="profile-stats">

        <div class="stat">
            <h1>N</h1>
            <span>Posts</span>
        </div>

        <div class="stat">
            <h1>N</h1>
            <span>Likes</span>
        </div>

        <div class="stat">
            <h1>N</h1>
            <span>Comments</span>
        </div>

    </div>
</mat-card >

<section class="user-posts">

    <mat-card class="post-card">
        <div class="post-creator">
            <img class="profile-image" src="assets\Profile_placeholder.png" alt="">
            <div class="profile-desc">
                <span class="profile-name">
                    name
                </span>
                <span class="profile-username">
                    username
                </span>
            </div>
        </div>
        <img class="post-img" src="assets/placeholder_image.jpg" alt="">

        <div class="post-details">
            <h1>Post title</h1>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, labore inventore ab qui laudantium
                placeat tempore modi porro esse voluptatum iste, quos neque similique quo quaerat cumque nihil
                dignissimos maxime?</span>
        </div>
    </mat-card>
    <mat-card class="post-card">
        <div class="post-creator">
            <img class="profile-image" src="assets\Profile_placeholder.png" alt="">
            <div class="profile-desc">
                <span class="profile-name">
                    name
                </span>
                <span class="profile-username">
                    username
                </span>
            </div>
        </div>

        <div class="post-details">
            <h1>Post title</h1>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, labore inventore ab qui laudantium
                placeat tempore modi porro esse voluptatum iste, quos neque similique quo quaerat cumque nihil
                dignissimos maxime?</span>
        </div>
    </mat-card>
    <mat-card class="post-card">
        <div class="post-creator">
            <img class="profile-image" src="assets\Profile_placeholder.png" alt="">
            <div class="profile-desc">
                <span class="profile-name">
                    name
                </span>
                <span class="profile-username">
                    username
                </span>
            </div>
        </div>
        <img class="post-img" src="assets/placeholder_image.jpg" alt="">

        <div class="post-details">
            <h1>Post title</h1>
            <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, labore inventore ab qui laudantium
                placeat tempore modi porro esse voluptatum iste, quos neque similique quo quaerat cumque nihil
                dignissimos maxime?</span>
        </div>
    </mat-card>
</section>