<div class="profile-info-div">
  <div class="user-profile-desc">
    <img class="profile-img" [src]="loggedInUser.profileImageUrl" alt="" />
    <div class="profile-personal-info">
      <h1>{{ loggedInUser.name }} {{ loggedInUser.lastname }}</h1>
      <span>@{{ loggedInUser.username }}</span>
    </div>
  </div>

  <div class="profile-stats">
    <div class="stat">
      <h1>{{ mergedPostUserList.length }}</h1>
      <span>Posts</span>
    </div>

    <div class="stat">
      <h1>N</h1>
      <span>Likes</span>
    </div>

    <div class="stat">
      <h1>N</h1>
      <span>Comments</span>
    </div>
    <div class="action-btns">
      <button
        mat-mini-fab
        color="primary"
        id="settings-btn"
        (click)="openProfileDialog()"
      >
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-mini-fab color="warn" id="logout-btn" (click)="onLogout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>
  </div>
</div>

<section class="user-posts">
  <mat-card class="post-card" *ngFor="let p of mergedPostUserList">
    <div class="post-creator">
      <img class="profile-image" [src]="p.user.profileImageUrl" alt="" />
      <div class="profile-desc">
        <span class="profile-name">
          {{ p.user.name }} {{ p.user.lastname }}
        </span>
        <span class="profile-username"> {{ p.user.username }} </span>
      </div>
      <div class="post-menu">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item id="mat-menu-edit-btn">
            <mat-icon>edit</mat-icon>
            <span>Modify Post</span>
          </button>
          <button mat-menu-item id="mat-menu-delete-btn">
            <mat-icon>delete</mat-icon>
            <span>Delete Post</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <img
      *ngIf="p.post.postImageUrl"
      class="post-img"
      [src]="p.post.postImageUrl"
      alt=""
    />
    <div class="post-details">
      <h1>{{ p.post.postTitle }}</h1>
      <span>{{ p.post.postContent }}</span>
    </div>

    <div class="post-footer">
      <button mat-button>
        <mat-icon style="scale: 1.5">thumb_up_off_alt</mat-icon>
      </button>
      <button mat-button (click)="openPostComments()">
        <mat-icon style="scale: 1.5">chat_bubble_outline</mat-icon>
      </button>
    </div>
  </mat-card>
</section>
