.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form-control-full-width {
  width: calc(80% + 2vh);
  margin: 1vh;
}

#confirm-btn {
  color: #205295;
  font-size: 1.1em;
}
