<nav>
  <div class="name-div">
    <span
      >Hello
      <span style="color: #205295"
        >{{ this.loggedInUser.name }} {{ this.loggedInUser.lastname }}</span
      >, Welcome back</span
    >
    <h1>Homepage</h1>
  </div>
  <div class="search-div">
    <input placeholder="Search . . ." type="text" id="search-input" />
  </div>
</nav>
<section class="homepage">
  <mat-card class="post-card">
    <div class="post-creator">
      <img class="profile-image" src="assets\Profile_placeholder.png" alt="" />
      <div class="profile-desc">
        <span class="profile-name"> name </span>
        <span class="profile-username"> username </span>
      </div>
    </div>
    <img class="post-img" src="assets/placeholder_image.jpg" alt="" />

    <div class="post-details">
      <h1>Post title</h1>
      <span
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, labore
        inventore ab qui laudantium placeat tempore modi porro esse voluptatum
        iste, quos neque similique quo quaerat cumque nihil dignissimos
        maxime?</span
      >
    </div>

    <div class="post-footer">
      <button mat-button>
        <mat-icon style="scale: 1.5">thumb_up_off_alt</mat-icon>
      </button>
      <button mat-button (click)="openPostComments()">
        <mat-icon style="scale: 1.5">chat_bubble_outline</mat-icon>
      </button>
    </div>
  </mat-card>
  <mat-card class="post-card">
    <div class="post-creator">
      <img class="profile-image" src="assets\Profile_placeholder.png" alt="" />
      <div class="profile-desc">
        <span class="profile-name"> name </span>
        <span class="profile-username"> username </span>
      </div>
    </div>

    <div class="post-details">
      <h1>Post title</h1>
      <span
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, labore
        inventore ab qui laudantium placeat tempore modi porro esse voluptatum
        iste, quos neque similique quo quaerat cumque nihil dignissimos
        maxime?</span
      >
    </div>
  </mat-card>
  <mat-card class="post-card">
    <div class="post-creator">
      <img class="profile-image" src="assets\Profile_placeholder.png" alt="" />
      <div class="profile-desc">
        <span class="profile-name"> name </span>
        <span class="profile-username"> username </span>
      </div>
    </div>
    <img class="post-img" src="assets/placeholder_image.jpg" alt="" />

    <div class="post-details">
      <h1>Post title</h1>
      <span
        >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, labore
        inventore ab qui laudantium placeat tempore modi porro esse voluptatum
        iste, quos neque similique quo quaerat cumque nihil dignissimos
        maxime?</span
      >
    </div>
  </mat-card>
</section>
