<nav>
  <div class="name-div">
    <span
      >Hello
      <span style="color: #205295"
        >{{ this.loggedInUser.name }} {{ this.loggedInUser.lastname }}</span
      >, Welcome back</span
    >
    <h1>Homepage</h1>
  </div>
  <div class="search-div">
    <input placeholder="Search . . ." type="text" id="search-input" />
  </div>
</nav>
<section class="homepage">
  <mat-card class="post-card" *ngFor="let p of mergedPostUserList">
    <div class="post-creator">
      <img class="profile-image" [src]="p.user.profileImageUrl" alt="" />
      <div class="profile-desc">
        <!--
               <span class="profile-name">
          {{ p.user.name }} {{ p.user.lastname }}
        </span>
        -->
        <span class="profile-username"> @{{ p.user.username }} </span>
        <span class="post-creation-date">
          {{ p.post.postCreationDate.substr(0, 10) }}
          {{ p.post.postCreationDate.substr(11, 5) }}
        </span>
      </div>
      <div *ngIf="loggedInUser._id == p.post.userId" class="post-menu">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item id="mat-menu-edit-btn">
            <mat-icon>edit</mat-icon>
            <span>Modify Post</span>
          </button>
          <button
            mat-menu-item
            id="mat-menu-delete-btn"
            (click)="deletePost(p.post)"
          >
            <mat-icon>delete</mat-icon>
            <span>Delete Post</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <img
      *ngIf="p.post.postImageUrl"
      class="post-img"
      [src]="p.post.postImageUrl"
      alt=""
    />
    <div class="post-details">
      <h1>{{ p.post.postTitle }}</h1>
      <span>{{ p.post.postContent }}</span>
    </div>

    <div class="post-footer">
      <button mat-button>
        <mat-icon style="scale: 1.5">thumb_up_off_alt</mat-icon>
      </button>
      <button mat-button (click)="openPostComments()">
        <mat-icon style="scale: 1.5">chat_bubble_outline</mat-icon>
      </button>
    </div>
  </mat-card>
</section>
