<nav>
  <div class="name-div">
    <span
      >Hello
      <span style="color: #205295"
        >{{ this.loggedInUser.name }} {{ this.loggedInUser.lastname }}</span
      >, Welcome back</span
    >
    <h1>Homepage</h1>
  </div>
  <div class="search-div">
    <input placeholder="Search . . ." type="text" id="search-input" />
  </div>
</nav>
<section class="homepage" #scrollableElement>
  <mat-card class="post-card" *ngFor="let p of mergedPostUserList">
    <div class="post-creator">
      <img class="profile-image" [src]="p.user.profileImageUrl" alt="" />
      <div class="profile-desc">
        <!--
               <span class="profile-name">
          {{ p.user.name }} {{ p.user.lastname }}
        </span>
        -->
        <span class="profile-username"> @{{ p.user.username }} </span>
        <span class="post-creation-date">
          {{ p.post.postCreationDate.substr(0, 10) }}
          {{ p.post.postCreationDate.substr(11, 5) }}
        </span>
      </div>
      <span class="post-category">&nbsp; | {{ p.post.postCategory }}</span>
      <div *ngIf="loggedInUser._id == p.post.userId" class="post-menu">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            id="mat-menu-edit-btn"
            (click)="editPost(p.post)"
          >
            <mat-icon>edit</mat-icon>
            <span>Edit Post</span>
          </button>
          <button
            mat-menu-item
            id="mat-menu-delete-btn"
            (click)="deletePost(p.post)"
          >
            <mat-icon>delete</mat-icon>
            <span>Delete Post</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <img
      *ngIf="p.post.postImageUrl"
      class="post-img"
      [src]="p.post.postImageUrl"
      alt=""
    />
    <div class="post-details">
      <h1>{{ p.post.postTitle }}</h1>
      <span>{{ p.post.postContent }}</span>
    </div>

    <mat-expansion-panel class="post-footer">
      <mat-expansion-panel-header>
        <span id="post-stats">
          <p>{{ p.likes.length + " " }}</p>
          Likes,&nbsp;
          <p>{{ p.comments ? p.comments.length : "0" }}</p>
          Comments</span
        >
      </mat-expansion-panel-header>
      <button id="add-comment-btn" mat-button (click)="addComment(p.post)">
        <mat-icon>post_add</mat-icon> Add Comment
      </button>
      <button
        class="like-btn"
        id="like-btn-liked"
        mat-button
        (click)="addComment(p.post)"
      >
        <mat-icon>thumb_up_off_alt</mat-icon>Like Post
      </button>
      <div class="comment-section">
        <span
          id="no-comments-span"
          *ngIf="!p.comments"
          style="font-size: 16px; text-align: center"
          >No Comments Yet. Be the first to comment</span
        >
        <mat-card class="comment-card" *ngFor="let c of p.comments">
          <div *ngIf="loggedInUser._id == c.comment.userId" class="post-menu">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                mat-menu-item
                id="mat-menu-edit-btn"
                (click)="updateComment(c.comment)"
              >
                <mat-icon>edit</mat-icon>
                <span>Edit Comment</span>
              </button>
              <button
                mat-menu-item
                id="mat-menu-delete-btn"
                (click)="deleteComment(c.comment)"
              >
                <mat-icon>delete</mat-icon>
                <span>Delete Comment</span>
              </button>
            </mat-menu>
          </div>
          <div class="comment-post-creator">
            <img
              class="comment-profile-image"
              [src]="c.commentUser.profileImageUrl"
              alt=""
            />
            <div class="comment-profile-desc">
              <span class="comment-profile-username">
                @{{ c.commentUser.username }}
              </span>
              <span class="comment-date">
                {{ c.comment.commentCreationDate.substr(0, 10) }}
                {{ c.comment.commentCreationDate.substr(11, 5) }}</span
              >
            </div>
          </div>
          <div class="user-comment">
            <span class="comment-content"> {{ c.comment.commentDetails }}</span>
          </div>
        </mat-card>
      </div>
    </mat-expansion-panel>
  </mat-card>
</section>
