<h1 mat-dialog-title style="font-size: 2em">Create a new post</h1>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <mat-form-field class="form-control-full-width" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput name="title" />
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="form-control-full-width" appearance="outline">
      <mat-label>Content</mat-label>
      <textarea matInput name="content" rows="10"></textarea>
    </mat-form-field>
  </div>

  <div class="row">
    Add a photo :
    <input type="file" />
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button id="confirm-btn" [mat-dialog-close]="true" cdkFocusInitial>
    Confirm
  </button>
</mat-dialog-actions>
