<div class="mat-dialog-title" mat-dialog-title>
  <h1 style="font-size: 1.6em">Create a new post</h1>
  <input
    id="upload-photo"
    type="file"
    accept="image/*"
    name="image"
    (change)="selectImage($event)"
    #imageInput
  />
  <label
    for="upload-photo"
    [id]="file?.name ? 'upload-photo-label-done' : 'upload-photo-label'"
  >
    <mat-icon>{{
      file?.name ? "check_circle" : "add_photo_alternate"
    }}</mat-icon>
    &nbsp;
    {{ file?.name ? "Photo uploaded " : "Upload a photo" }}
  </label>
</div>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <img
      class="form-control-full-width"
      id="image-uploaded"
      *ngIf="file?.name"
      [src]="data.postImageUrl"
      alt=""
    />
  </div>
  <div class="row">
    <mat-form-field class="form-control-half-width" appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="data.postCategory">
        <mat-option value="Campus Events">Campus Events</mat-option>
        <mat-option value="Education">Education</mat-option>
        <mat-option value="Campus Life">Campus Life</mat-option>
        <mat-option value="Campus News">Campus News</mat-option>
        <mat-option value="Technology and Innovation"
          >Technology and Innovation</mat-option
        >
        <mat-option value="Other">Other</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form-control-half-width" appearance="outline">
      <mat-label>Title</mat-label>
      <input [(ngModel)]="data.postTitle" matInput name="title" />
    </mat-form-field>
  </div>
  <div class="row">
    <mat-form-field class="form-control-full-width" appearance="outline">
      <mat-label>Content</mat-label>
      <textarea
        [(ngModel)]="data.postContent"
        matInput
        name="content"
        rows="10"
      ></textarea>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button id="confirm-btn" [mat-dialog-close]="data" cdkFocusInitial>
    Confirm
  </button>
</mat-dialog-actions>
