.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-control-half-width {
  margin-right: 1vh;
  margin-left: 1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 40%;
}

.form-control-full-width {
  width: calc(80% + 2vh);
  margin-top: 2vh;
}

.form-control-third-width {
  width: calc(80% / 3 - 0.5vh);
  margin-right: 1vh;
  margin-left: 1vh;
}

#confirm-btn {
  color: #205295;
  font-size: 1.2em;
}
